<div class="col-sm-3 col-md-2 sidebar hidden-xs" >
	<ul class="nav nav-sidebar">
		<li><a href="#">Item 1</a></li>
		<li><a href="#">Item 2</a></li>
		<li><a href="#">Item 3</a></li>
	</ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">{{albumName}}</h1>
	<section class="jumbotron text-center">
		<div class ="container">
			<p class="lead text-muted">{{albumShort}}</p>
		</div>
	</section>
					
	<div class="container-fluid">
		<div class="row">
			{{#each picture}}
			<div class="col-md-4 col-xs-6">
				<div class="container-fluid">
					<a href="{{this.albumid}}/{{this.picid}}"><div class="gallery">
						<img class="img-responsive"   src="/image/{{this.picid}}"></img>
					</div></a>
						<div class="imgcreator">
							<p><b>Uploader:</b>{{this.username}}</p>
							<p><span class="glyphicon glyphicon-eye-open"> {{this.viewnumber}}</span></p>
						</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
		{{> footer}}
</div>
			
